
<h2>Ajouter un utilisateur</h2>

<div class="form-container">
  <form (ngSubmit)="submitForm()" >
    

    <div class="input-group">
      <i class="fas fa-user"></i>
      <input type="text" name="name" [(ngModel)]="user.name" placeholder="Prénom" required />
    </div>

    <div class="input-group">
      <i class="fas fa-user-friends"></i>
      <input type="text" name="second_name" [(ngModel)]="user.second_name" placeholder="Nom" required />
    </div>

    <div class="input-group">
      <i class="fas fa-city"></i>
      <input type="text" name="city" [(ngModel)]="user.city" placeholder="Ville" required />
    </div>

    <div class="input-group">
      <i class="fas fa-envelope"></i>
      <input type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required />
    </div>

    <button type="submit" class="btn-submit">Ajouter</button>
    
   
  </form>
</div>


